output/
dataset/
venv/
dataset-split
dataset-roboflow
/Met/MET
train
valid
Slipt
trainval_3120
treino_art
_temp_aug
dataset-original
datasetAug
weights
/UsinaDeArtes/dataset-original - Copia
yolo11n.pt
yolo11m-cls.pt
MetObjects.txt
MET_database.json
